<mat-nav-list>
    <div class="profile-card">
        <div class="header"></div>
        <h2><H1><b>Hajri Amal</b></H1></h2>
        <h4><b>amal.hajri@neoxam.com</b></h4>
        <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQFzhG-h4GcJmA/company-logo_200_200/0?e=2159024400&v=beta&t=z2jF8U4UiwPYGdYB-HFclCNFxZScCS94IQPE5QblAm4" alt="userImg">
        <h4><b> <span *ngIf='database'>Environnement connecté : {{ database }}</span></b></h4>
    </div>
    <mat-divider></mat-divider>
   <h2 matSubheader> Pages</h2> 
 
  







    <a mat-list-item routerActive="List-item-active" (click)="visible = !visible"  >Environnements  <mat-icon aria-hidden="false" aria-label="Example home icon">play_arrow</mat-icon> </a>
   
    <div class="w3-panel w3-red" *ngIf="visible">
    

        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
                <a mat-list-item routerActive="List-item-active" routerLink="environnements">Gestion des Environnements </a>
            </mat-list-option>
            <mat-list-option>
                <a mat-list-item routerActive="List-item-active" routerLink="/home/fonctionnalites">Ajouter Fonctionnalité</a>
            </mat-list-option>
          </mat-selection-list>
       
    
    </div>
    <a mat-list-item routerActive="List-item-active" routerLink="/home/listFonctionalite">Gestion des Fonctionnalités</a>
 
    <a mat-list-item routerActive="List-item-active" routerLink="/home/users">Utilisateurs</a>
    

    
     

 


</mat-nav-list>



