
    <div  class="contact-form">
        <h2> Ajouter Fonctionnalité</h2>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
           <div class="form-group">

        <p>Nom</p>
          <input type="text" name="name" id="name"  class="form-control"   placeholder="Enter the name" ngModel  required/>
        </div>
        <div class="form-group">
          <p> Description</p>
          <textarea type="text" name="description"  class="form-control"  rows="10" cols="78%" placeholder="Enter a description"  ngModel required> </textarea>
        </div>
        
        <div class="form-group">

          <p>URL</p>
            <input type="text" name="url" id="url"  class="form-control"   placeholder="Enter an URL" ngModel  required/>
          </div>

          <div class="form-group">
          <p>Fichier d'activation</p>
          <input type="file" id="file1" name="file1"  class="form-control"   (change)="onFileSelected1($event)" ngModel  required />
          </div>

          <div class="form-group">
          <p>Fichier de désactivation</p>
          <input type="file" id="file2" name="file2"  class="form-control"    (change)="onFileSelected2($event)" ngModel  required />
          </div>

          <div class="form-group">
          <p>Fichier de check</p>
          <input type="file" id="file3" name="file3"  class="form-control"    (change)="onFileSelected3($event)" ngModel  required />
          </div>
  
      
            <input type="submit" class="btn btn-primary"  value="Ajouter"  [disabled]="f.invalid" />
  
  
        </form>
    </div>
  
   