    
      <div class="container">  
  
        <mat-card class="example-card" style="margin-bottom: 5%;">
            <div class="table-title">
              <div class="row">
                <div class="col-sm-6">
                  <h2><b>List des Fonctionnalités</b></h2>
                </div>
                <div class="col-sm-6">
                  <a (click)="openAddDatasource(content)" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter </span></a>
              </div>
              </div>
              </div>
            
            </mat-card> 
        
      
  
    

<div *ngIf="data_arrived">
  <mat-card class="example-card" *ngFor="let item of data " style="margin-bottom: 1px;" >
    <mat-card-header>
      
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
   
    <mat-card-content>
      <p>
       {{item.desscription}}
      </p>
      <mat-card-subtitle>
        <a (click)="onNavigate(item.url)">{{item.url}}        
        </a>
      </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions  align="end">
      
      <button class="button" (click)="openUpdateFonctionalite(content1,item.id)"  >Modifier</button>
      <button class="button" (click)="openDelete(content2,item.id ,item.name)">Supprimer</button>
      
    </mat-card-actions>
 </mat-card>
</div>
</div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ajouter Fonctionnalité</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">

       <p>Nom</p>
         <input type="text" name="name" id="name"  class="form-control"   placeholder="Enter the name" ngModel  required/>
       </div>
       <div class="form-group">
         <p> Description</p>
         <textarea type="text" name="description"  class="form-control"  rows="10" cols="78%" placeholder="Enter a description"  ngModel required> </textarea>
       </div>
       
       <div class="form-group">

         <p>URL</p>
           <input type="text" name="url" id="url"  class="form-control"   placeholder="Enter an URL"   required/>
         </div>

         <div class="form-group">
         <p>Fichier d'activation</p>
         <input type="file" id="file1" name="file1"     (change)="onFileSelected1($event)" ngModel  required />
         </div>

         <div class="form-group">
         <p>Fichier de désactivation</p>
         <input type="file" id="file2" name="file2"     (change)="onFileSelected2($event)" ngModel  required />
         </div>

         <div class="form-group">
         <p>Fichier de check</p>
         <input type="file" id="file3" name="file3"      (change)="onFileSelected3($event)" ngModel  required />
         </div>
 
         <mat-card-actions  align="end">
      
          <button class="button" type="submit" [disabled]="f.invalid" [ngStyle]="{'background-color':f.invalid ? '#808080' : '#76d7c4' }" >Ajouter</button>
          
          
        </mat-card-actions>
           
 
 
       </form>
      </div>
      
    </ng-template> 



    <ng-template #content1 let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Modifier Fonctionnalité</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="Modifier(f1)" #f1="ngForm">
          <div class="form-group">

       <p>Nom</p>
         <input type="text" name="name" id="name" [(ngModel)]="name"  class="form-control"   placeholder="Enter the name" ngModel  required/>
       </div>
       <div class="form-group">
         <p> Description</p>
         <textarea type="text" name="description" [(ngModel)]="description" class="form-control"  rows="10" cols="78%" placeholder="Enter a description"  ngModel required> </textarea>
       </div>
       
       <div class="form-group">

         <p>URL</p>
           <input type="text" name="url" id="url" [(ngModel)]="url"  class="form-control"   placeholder="Enter an URL" ngModel  required/>
         </div>

         <div class="form-group">
         <p>Fichier d'activation</p>
         <input type="file" id="file1" name="file1" [(ngModel)]="file1"     (change)="onFileSelected1($event)" ngModel  required />
         </div>

         <div class="form-group">
         <p>Fichier de désactivation</p>
         <input type="file" id="file2" name="file2" [(ngModel)]="file2"      (change)="onFileSelected2($event)" ngModel  required />
         </div>

         <div class="form-group">
         <p>Fichier de check</p>
         <input type="file" id="file3" name="file3"  [(ngModel)]="file3"     (change)="onFileSelected3($event)" ngModel  required />
         </div>
 
         <mat-card-actions  align="end">
      
          <button class="button" type="submit" [disabled]="f1.invalid"  >Update</button>
          
          
        </mat-card-actions>
           
 
 
       </form>
      </div>
      
    </ng-template> 


    <ng-template #content2 let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title-update">Attention  la Fonctionnalité {{name_delete}} sera supprimer définitivement voulez vous continuer !!</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding-left: 318px;">
        
        <button class="button"  (click)="Supprimer()" >Valider</button>
          <button class="button"  (click)="modal.dismiss('Cross click')"  >Annuler</button>
         
          
        
      </div>  
     
        
    </ng-template>