    
      <div class="container">  
  
        <div class="table-wrapper">
            <div class="table-title">
              <div class="row">
                <div class="col-sm-6">
                  <h2> <b>Liste des fonctionalités</b></h2>
                </div>
                <div class="col-sm-6">
                  
                  <div class="col-sm-6" style="
                  margin-left: 264px;
              ">
                   
                   <form class="form-inline waves-light" mdbWavesEffect>
                    <div class="md-form mt-0">
                      <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="search">
                    </div>
                  </form>
                </div>
                 </div>
              </div>
            </div>
           
        </div>
    
  
    


  <mat-card class="example-card" *ngFor="let item of (data | filter:search)as folder" >
    <mat-card-header>
      
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
   
    <mat-card-content>
      <p>
       {{item.desscription}}
      </p>
      <mat-card-subtitle>
        <p>
          {{item.url}}
         </p>
      </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions  align="end">
      
      <button class="button" [disabled]="item.result != 0 " (click)="UpdateSQL(item.name,item.fileActivation)">Activer</button>
      <button class="button"[disabled]="item.result == 0 " (click)="UpdateSQL(item.name,item.filaDesactivation)">Desactiver</button>
      
    </mat-card-actions>
 
   