
  
<div class="container">  
  
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2> <b>Liste des environnements</b></h2>
        </div>
        <div class="col-sm-6">
          
          <div class="col-sm-6">
            <a (click)="openAddDatasource(content)" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter un environnement</span></a>
        </div>
         </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr >
        
         
         
          <th>Name</th>
          <th>User</th>
          <th>Password</th>
          <th>Platform</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
 
        
        <tr *ngFor="let item of listDataSource" >
        
          <td>{{item.url}} </td>
          <td>{{item.user}}</td>
          <td>{{item.password}}</td>
          <td>{{item.platform}}</td>
          
          <td>
              <input type="button"  value="Modifier" class="btn btn-info" style="margin-left: 10px" (click)="UpdateAddDatasource(content1,item.id)" />
              <input type="button"   value="Supprimer"class="btn btn-info" style="margin-left: 10px" (click)="delete(item.id)" />
              <input type="button"   value="Connecter"class="btn btn-info" style="margin-left: 10px" (click)="connect(item.url)" />
            </td>
            
        </tr>
    
      
      </tbody>
    </table>
   
</div>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouter un environnement</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form >
      <div class="form-group">

      <p>Url</p>
        <input type="text" name="url" id="url"  placeholder="Enter your url" [(ngModel)]="url" />
      </div>

      

      <div class="form-group">
        <p>User</p>
        <input type="text" name="user"  placeholder="Enter your user" [(ngModel)]="user"/>
      </div>

        <div class="form-group">
        <p>Password</p>
        <input type="password" name="password" placeholder="enter your password" [(ngModel)]="password"/>
          </div>

          <div class="form-group">
        <p>Platform</p>
      </div>
        <input type="text" name="platform"  placeholder="enter your platform" [(ngModel)]="platform"/>
        
       
   
          
          
       


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"  (click)="add()" >Ajouter</button>
  </div>
</ng-template>


<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-update">Modifier l'environnement</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form >
      <div class="form-group">

      <p>Url</p>
        <input type="text" name="url" id="url"  placeholder="Enter your url" [(ngModel)]="urlupdate" />
      </div>

      

      <div class="form-group">
        <p>User</p>
        <input type="text" name="user"  placeholder="Enter your user" [(ngModel)]="userupdate"/>
      </div>

        <div class="form-group">
        <p>Password</p>
        <input type="password" name="password" placeholder="enter your password" [(ngModel)]="passwordupdate"/>
          </div>

          <div class="form-group">
        <p>Platform</p>
      </div>
        <input type="text" name="platform"  placeholder="enter your platform" [(ngModel)]="platformupdate"/>
        
       
   
          
          
       


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"  (click)="updateDatsource()" >Enregistrer</button>
  </div>
</ng-template>