
  
<div class="container">  
  
  <div class="table-wrapper" >
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2> <b>Liste des environnements</b></h2>
        </div>
        <div class="col-sm-6">
          
          <div class="col-sm-6"  style="margin-left: 264px;">
            <a (click)="openAddDatasource(content)" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter</span></a>
        </div>

        
         </div>
      </div>
    </div>
    <table class="table"  >
      
        <tr >
         
          <td  align="center" style="
          padding-left: 0%;
      "><b>Name</b></td>
          
          <td  align="right" style="
          padding-right: 14%;
      "><b>Action</b></td>
        </tr>
      
      <tbody *ngIf="data_arrived" >
 
        
        <tr *ngFor="let item of listDataSource" >
        
          <td align="center">{{item.name}} </td>
          
         
          
          <td align="right">

              <button class="button" style="margin-left: 10px" (click)="UpdateAddDatasource(content1,item.id ,item.name)">Modifier</button>

              <button class="button" style="margin-left: 10px" (click)="UpdateAddDatasource(content2,item.id,item.name)">Supprimer</button>

              <button class="button" style="margin-left: 10px"(click)="connect(item)" >Consulter  </button>
          
          </td>

            
             
              
            


           
              
              
            
        </tr>
    
      
      </tbody>
    </table>
   
</div>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouter un environnement</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <p>Name</p>
        <input type="text"  class="form-control" name="name"  placeholder="Enter your user" ngModel required/>
       </div>
      <div class="form-group">
                
        <p>Url</p>
                   <input type="text"  class="form-control" name="url" id="url"  placeholder="Enter your url" ngModel required />
      </div>

                

              <div class="form-group">
                  <p>User</p>
                  <input type="text"  class="form-control" name="user"  placeholder="Enter your user" ngModel required/>
              </div>

             

              <div class="form-group">
                  <p>Password</p>
                  <input type="password"  class="form-control" name="password" placeholder="enter your password" ngModel required/>
              </div>

              <div class="form-group">
                  <p>Platform</p>
              </div>
                  
              <div class="form-group">   
              <select [(ngModel)]="platform"  class="form-control" name="selectePlateforme" ngModel required>
                    <option  [ngValue]="2">org.postgresql.Driver</option>
                    <option  [ngValue]="1">com.mysql.jdbc.Driver</option>
                    <option  [ngValue]="3">oracle.jdbc.driver.OracleDriver</option>
              </select>
              </div>
                    
                
             
              <div class="modal-footer">
                <button type="submit" class="button"  [disabled]="f.invalid" [ngStyle]="{'background-color':f.invalid ? '#808080' : '#76d7c4' }" >Ajouter</button>
              </div>
    </form>
      
  </div>
  
</ng-template>


<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-update">Modifier l'environnement</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form >
      <div class="form-group">
        <p>Name</p>
        <input type="text"  class="form-control" name="name"  placeholder="Enter your user" [(ngModel)]="nameupdate"/>
      </div>
      <div class="form-group">

      <p>Url</p>
        <input type="text"  class="form-control" name="url" id="url"  placeholder="Enter your url" [(ngModel)]="urlupdate" />
      </div>

      

      <div class="form-group">
        <p>User</p>
        <input type="text"  class="form-control" name="user"  placeholder="Enter your user" [(ngModel)]="userupdate"/>
      </div>

     

        <div class="form-group">
        <p>Password</p>
        <input type="password"  class="form-control" name="password" placeholder="enter your password" [(ngModel)]="passwordupdate"/>
          </div>

          <div class="form-group">
        <p>Platform</p>
      </div>
      <select [(ngModel)]="platformupdate"  class="form-control" name="selectePlateforme" >
        <option  [ngValue]="2">org.postgresql.Driver</option>
        <option  [ngValue]="1">com.mysql.jdbc.Driver</option>
  </select>
       
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="button"  (click)="updateDatsource()" >Enregistrer</button>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-update">attention  la base {{nameupdatenotif}} sera supprimer définitivement voulez vous continuer !!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <button class="button"  (click)="delete(1)" >Valider</button>
      <button class="button"  (click)="modal.dismiss('Cross click')"  >Annuler</button>
      
      
    
  </div>  
 
    
</ng-template>
