
  
<div class="container">  
  
  <div class="table-wrapper" >
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2> <b>Liste des environnements</b></h2>
        </div>
        <div class="col-sm-6">
          
          <div class="col-sm-6"  style="margin-left: 264px;">
            <a (click)="openAddDatasource(content)" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter un environnement</span></a>
        </div>

        
         </div>
      </div>
    </div>
    <table class="table table-hover"  style="width: 78%;margin-left: 7%;">
      <thead>
        <tr >
        
         
         
          <th scope="col">Name</th>
          
          <th style="
          padding-left: 58%;
      ">Action</th>
        </tr>
      </thead>
      <tbody>
 
        
        <tr *ngFor="let item of listDataSource" >
        
          <td>{{item.name}} </td>
          
         
          
          <td style=" padding-left: 46%;">

              <button class="button" style="margin-left: 10px" (click)="UpdateAddDatasource(content1,item.id)">Modifier</button>

              <button class="button" style="margin-left: 10px" (click)="openAddDatasource(content2)">Supprimer</button>

              <button class="button" style="margin-left: 10px"(click)="connect(item)" >Consulter  </button>
          
          </td>

            
             
              
            


           
              
              
            
        </tr>
    
      
      </tbody>
    </table>
   
</div>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouter un environnement</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
              <div class="form-group">

                <p>Url</p>
                  <input type="text"  class="form-control" name="url" id="url"  placeholder="Enter your url" ngModel required />
              </div>

                

              <div class="form-group">
                  <p>User</p>
                  <input type="text"  class="form-control" name="user"  placeholder="Enter your user" ngModel required/>
              </div>

              <div class="form-group">
                  <p>Name</p>
                  <input type="text"  class="form-control" name="name"  placeholder="Enter your user" ngModel required/>
              </div>

              <div class="form-group">
                  <p>Password</p>
                  <input type="password"  class="form-control" name="password" placeholder="enter your password" ngModel required/>
              </div>

              <div class="form-group">
                  <p>Platform</p>
              </div>
                  
              <div class="form-group">   
              <select [(ngModel)]="platform"  class="form-control" name="selectePlateforme" ngModel required>
                    <option  [ngValue]="2">org.postgresql.Driver</option>
                    <option  [ngValue]="1">com.mysql.jdbc.Driver</option>
              </select>
              </div>
                    
                
             
              <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark"  [disabled]="f.invalid"  >Ajouter</button>
              </div>
          </form>
      
  </div>
  
</ng-template>


<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-update">Modifier l'environnement</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form >
      <div class="form-group">

      <p>Url</p>
        <input type="text"  class="form-control" name="url" id="url"  placeholder="Enter your url" [(ngModel)]="urlupdate" />
      </div>

      

      <div class="form-group">
        <p>User</p>
        <input type="text"  class="form-control" name="user"  placeholder="Enter your user" [(ngModel)]="userupdate"/>
      </div>

      <div class="form-group">
        <p>Name</p>
        <input type="text"  class="form-control" name="name"  placeholder="Enter your user" [(ngModel)]="nameupdate"/>
      </div>

        <div class="form-group">
        <p>Password</p>
        <input type="password"  class="form-control" name="password" placeholder="enter your password" [(ngModel)]="passwordupdate"/>
          </div>

          <div class="form-group">
        <p>Platform</p>
      </div>
        <input type="text" name="platform"  class="form-control"  placeholder="enter your platform" [(ngModel)]="platformupdate"/>
        
       
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"  (click)="updateDatsource()" >Enregistrer</button>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-update">attention  la base sera supprimer définitivement voulez vous continuer !!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
      
      <button class="button"  (click)="modal.dismiss('Cross click')"  >Annuler</button>
      <button class="button"  (click)="delete(1)" >Supprimer</button>
      
    
  </div>  
 
    
</ng-template>
